body{
    font-size:16px;
}
    

footer {
    grid-area: ft;    
    background-color: #eee;
}


fieldset {
    font-weight: bold;;
}


img.menu-item {
    width: 2.5em;
    margin:0 1.2em;
}


footer >.menu {
display: flex;
flex-flow: row;
align-items: center;
justify-content: space-around;
margin:1em;
} 


.icon{
    width:20%;
}

@media(max-width:700px) {
 
    img.menu-item {
        margin:0 0.5em;
    }


    footer >.menu {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        margin:0.5 0;
    }


    body{
        font-size:10px;
    }  
}

